/* registration_complete.css */

/* Style for the Registration Complete page */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: auto;
    height: 100%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

h1 {
    color: #4CAF50;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

.btn-back {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.btn-back:hover {
    background-color: #45a049;
}

.section-dark {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.contact-icons .icon {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.contact-icons .icon i {
    margin-right: 5px;
}
