<!-- web_dev_team.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/web_dev_team.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/topcomponent.css' %}">
    <title>Web Dev Team</title>

</head>
<body>

    <nav class="navbar">
        <a href="{% url 'home' %}">
            <div class="logo">
                <img src="{% static 'img/logo.png' %}" alt="ROBU Logo">
            </div>
        </a>

        <div class="nav-links">
            <a href="#">About</a>
            <a href="segments">Segments</a>
            <a href="segments"><button class="button">Register</button></a>
        </div>
    </nav>
    <section class = "webcontainer">
    <div class="web-dev-card"> <!-- Corrected class name -->
        <img src="{% static 'img/mahdi.jpg' %}" alt="Developer 1">
        <h3>Mahdi Uddin Ahmed</h3>
        <div class="social-icons">
            <a href="https://www.facebook.com/mahdi.ahmed.3388/" target="_blank"><i class="fa fa-facebook-square"></i></a>
            <a href="https://github.com/MahdiUddinAhmed" target="_blank"><i class="fa fa-github-square"></i></a>
            <a href="https://www.linkedin.com/in/mahdi-uddin-ahmed-1014311a0" target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>
    </div>

    <div class="web-dev-card"> <!-- Corrected class name -->
        <img src="{% static 'img/alamgir.jpg' %}" alt="Developer 2">
        <h3>Alamgir Chowdhury</h3>
        <div class="social-icons">
            <a href="https://web.facebook.com/profile.php?id=100004923198707" target="_blank"><i class="fa fa-facebook-square"></i></a>
            <a href="https://github.com/acdhury" target="_blank"><i class="fa fa-github"></i></a>
            <a href="https://www.linkedin.com/in/alamgir-chowdhury-784463263/" target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>
    </div>
</section>

<section class="section section-dark">
    <h2>Contact Us</h2>
    <div class="contact-icons">
        <a href="https://www.facebook.com/BRACU.Robotics.Club" target="_blank" class="icon">
            <i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook
        </a>
        <a href="tel:+8801749298058" class="icon"><i class="fa fa-phone-square" aria-hidden="true"></i>01749298058</a>
        <a href="mailto:club.robu@g.bracu.ac.bd" class="icon"><i class="fa fa-envelope" aria-hidden="true"></i>club.robu@g.bracu.ac.bd</a>
        <a href=" " class="icon"><i class="fa fa-user" aria-hidden="true"></i>Dev team</a>
    </div>
</section>
<section>
<div class = "credit">
    <p>
        ROBU Copyright &copy; 2024 Traction 2.0 || All Rights reserved || Developed by ROBU WEB DEv team || All rights reserved by ROBU WEB DEV Team
    </p>
</div>
</Section>


</body>
</html>
